<html>
    <head>
        <title>Sunsetar1126's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">얍 블로그예요</a></h1>
        </div>
        <div>
            <p>올린날:11.11.1111, 12:12</p>
            <h2><a href="">첫 글</a></h2>
            <p>Aenean eu leo quam. Pellentesque
                ornare sem lacinia quam venenatis
                vestibulum.
                Donec id elit non mi porta gravida
                at eget metus. Fusce dapibus, tellus
                ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa
                justo sit amet risus.</p>
        </div>
        <div>
            <p>올린날:11.11.1111, 12:12</p>
            <h2><a href="">두번째 글</a></h2>
            <p>Aenean eu leo quam. Pellentesque
                ornare sem lacinia quam venenatis
                vestibulum.
                Donec id elit non mi porta gravida
                at eget metus. Fusce dapibus, tellus
                ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa
                justo sit amet risus.</p>
        </div>
    </body>
</html>
